*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  backgroundphoto
  ackground-image: url("/Users/tanersebat/github-classroom/NoroffFEU/html-css-course-assignment-tanersebat34/assets/—Pngtree—handheld video game controller clip_11079953 1.png")
  background-size: 100%;  
    }