*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
 background-image: url("../../assets/—Pngtree—handheld\ video\ game\ controller\ clip_11079953\ 1.png");
 background-size: 100%;
    }