/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header{
  background-color: #1B203D;
  padding: 10px;
}


.aboutus-p{
  font-family: poppins;
  font-size: 22px;
  width: 500px;
  line-height: 35px;
  display: inline-block;
  margin-left: 50px;

}

.about-us{
  font-family: poppins,;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 50px;
}

.legal-p{
  font-family: poppins,;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 50px;
}

.legal-page{
  font-family: poppins;
  font-size: 22px;
  width: 500px;
  line-height: 35px;
  display: inline-block;
  margin-left: 50px;
}


.header{
  background-color: #1B203D
  
}

.header li{
  list-style: none;
  display: inline-block;
  padding: 50px;
  

}

.nav-links{
  font-family: Poppins, Sans-serif;
  color: white;
text-decoration: none;

}
ul{
  list-style: none;
  
  
}
